@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #0F0C10 0%, #121212 70%);
  color: #fff;
  font-family: "Roboto";
}

img {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: 0;
}
.banner .icon-back {
  position: absolute;
  background-color: hwb(0 7% 93%/0.4);
  border-radius: 50%;
  color: #fff;
  padding: 7px 10px;
  top: 60px;
  left: 16px;
}
.banner .banner-img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 319px;
  max-height: 450px;
}
.banner .banner-title {
  color: #fff;
  position: absolute;
  width: 358px;
  bottom: 16px;
  font-size: 48px;
}

.musicsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.musicsInfo .monthlyListeners {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #9e9e9e;
  font-weight: 400;
}
.musicsInfo .monthlyListeners-btn {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: center;
  gap: 28px;
}
.musicsInfo .monthlyListeners-btn .btn-follow {
  border: 1px solid white;
  padding: 10px 17px;
  background: transparent;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}
.musicsInfo .monthlyListeners-btn span {
  cursor: pointer;
}
.musicsInfo .musicPlay {
  position: relative;
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #65D46E;
  border-radius: 50%;
  cursor: pointer;
}
.musicsInfo .musicPlay::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 20px;
  background-color: black;
  left: 32px;
  border-radius: 5px;
}
.musicsInfo .musicPlay::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 20px;
  background-color: black;
  right: 32px;
  border-radius: 5px;
}

.playlist {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: center;
  padding: 0 16px;
  gap: 22px;
}
.playlist .capPlalist {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: 0;
  position: relative;
  height: 38px;
  cursor: pointer;
}
.playlist .capPlalist .imgPlaylist {
  border-radius: 50%;
  overflow: hidden;
  height: 32px;
}
.playlist .capPlalist .imgPlaylist img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 32px;
  height: 32px;
}
.playlist .capPlalist .favIconPlalist {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #65D46E;
  border-radius: 50%;
  position: absolute;
  left: 18px;
  bottom: 0;
  border: 2px solid #121212;
}
.playlist .capPlalist .favIconPlalist .fa-heart {
  font-size: 12px;
}
.playlist .playlistName {
  width: 100%;
}
.playlist .playlistName .likedSong {
  font-weight: 400;
}
.playlist .playlistName .numberSongs {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: center;
  height: 15px;
  margin-top: 4px;
}
.playlist .playlistName .numberSongs span {
  font-weight: 400;
  font-size: 13px;
  color: #9e9e9e;
}
.playlist .playlistName .numberSongs .dot {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: 0;
  font-size: 32px;
  padding: 0 6px;
}
.playlist .arrow-rigth img {
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.musics {
  padding: 40px 16px 0 16px;
}
.musics .listSong {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  gap: 16px;
  margin-top: 24px;
}
.musics .listSong .listSong-item {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: center;
  cursor: pointer;
}
.musics .listSong .listSong-item .listSong-number {
  font-size: 14px;
  font-weight: 400;
}
.musics .listSong .listSong-item .img-playlist {
  width: 50px;
  height: 50px;
  margin: 0 16px;
}
.musics .listSong .listSong-item .listSong-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.nav-container {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 0.8) 15%, rgb(18, 18, 18) 40%);
  padding: 16px 36px 36px 36px;
  position: sticky;
  bottom: 0;
}
.nav-container .nav-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */